.home{
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.dashboardCreateEvent {
    display: flex;
    height: 20vh;
    background-color: rgba(202, 69, 186, 0.5);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    max-width: 15vw;
}
  
.tableContainer{
    height: 20vh;
    min-height: 20vh;
    border-radius: 25px;
    overflow: auto;
    background-color: white;
}