.myEvents{
    display: flex;
    flex-direction: column;
}

.custom-header {
    background-color: deeppink;
    /* Autres styles personnalisés */
  }

.createEvent{
display: flex;
text-align: center;
align-items: center;
height: 50px;
justify-content: center;
font-size: large;
}